In [4]:
from sklearn import metrics
import imblearn
from imblearn.over_sampling import SMOTE
import lightgbm as lgbm
import xgboost as xgb
from sklearn.ensemble import ExtraTreesClassifier
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv("/Data_for_UCI_named.csv")

In [6]:
data.head()

       tau1      tau2      tau3  ...        g4      stab     stabf
0  2.959060  3.079885  8.381025  ...  0.958034  0.055347  unstable
1  9.304097  4.902524  3.047541  ...  0.781760 -0.005957    stable
2  8.971707  8.848428  3.046479  ...  0.109853  0.003471  unstable
3  0.716415  7.669600  4.486641  ...  0.362718  0.028871  unstable
4  3.134112  7.608772  4.943759  ...  0.820923  0.049860  unstable

[5 rows x 14 columns]

In [7]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, random_state=0)

In [8]:
#encode categorical variable
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
data['stabf'] = encoder.fit_transform(data['stabf'])

In [10]:
X = data.drop(columns='stabf')
y = data['stabf']

#split the data into training and testing sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [24]:
from sklearn import metrics
import imblearn
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=1)
x_train, y_train = smote.fit_sample(x_train, y_train)

In [19]:
model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [20]:
pred = model.predict(x_test)
metrics.accuracy_score(y_test, pred)

0.9996666666666667

In [21]:
# xgb model
model1 = xgb.XGBClassifier(random_state=0)

In [22]:
model1.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [28]:
pred = model1.predict(x_test)
metrics.accuracy_score(y_test, pred)

0.9996666666666667

In [29]:
#lgbm
model2 = lgbm.LGBMClassifier(random_state=0)
model2.fit(x_train, y_train)
pred = model2.predict(x_test)
metrics.accuracy_score(y_test, pred)

1.0

In [30]:
data.corr()

           tau1      tau2      tau3  ...        g4      stab     stabf
tau1   1.000000  0.015586 -0.005970  ...  0.005494  0.275761  0.234898
tau2   0.015586  1.000000  0.014273  ... -0.011764  0.290975  0.246280
tau3  -0.005970  0.014273  1.000000  ... -0.011497  0.280700  0.237492
tau4  -0.017265 -0.001965  0.004354  ... -0.000491  0.278576  0.239375
p1     0.027183 -0.004769  0.016953  ... -0.015451  0.010278  0.009938
p2    -0.015485  0.006573 -0.003134  ...  0.019817  0.006255  0.006173
p3    -0.015924  0.007673 -0.008780  ... -0.010485 -0.003321 -0.000649
p4    -0.015807 -0.005963 -0.017531  ...  0.017505 -0.020786 -0.022785
g1     0.010521 -0.001742 -0.011605  ...  0.012431  0.282774  0.197664
g2     0.015350  0.015383  0.007671  ... -0.014909  0.293601  0.217341
g3    -0.001279  0.016508  0.014702  ...  0.006900  0.308235  0.231774
g4     0.005494 -0.011764 -0.011497  ...  1.000000  0.279214  0.204931
stab   0.275761  0.290975  0.280700  ...  0.279214  1.000000  0.826959
stabf  0.234898  0.246280  0.237492  ...  0.204931  0.826959  1.000000

[14 rows x 14 columns]