In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("energydata_complete.csv")

In [5]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [16]:
data.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [23]:
# Firstly, we normalise our dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = data.drop(columns=['date', 'lights'])
normalised_df = pd.DataFrame(scaler.fit_transform(normalised_df), columns=normalised_df.columns)
features_df = normalised_df['T2']
heating_target = normalised_df['T6']

In [24]:
#Now, we split our dataset into the training
#and testing dataset. Recall that we had earlier segmented the features and target variables.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, heating_target, test_size=0.3, random_state=42)

In [27]:
x_train = x_train.values.reshape(-1, 1)
x_test = x_test.values.reshape(-1, 1)

In [28]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [29]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

In [32]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.08

In [34]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

66.12

In [35]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106

In [42]:
# Firstly, we normalise our dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = data.drop(columns=['date', 'lights'])
normalised_df = pd.DataFrame(scaler.fit_transform(normalised_df), columns=normalised_df.columns)
features_df = normalised_df
heating_target = normalised_df['Appliances']

In [43]:
#Now, we split our dataset into the training
#and testing dataset. Recall that we had earlier segmented the features and target variables.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, heating_target, test_size=0.3, random_state=42)

In [44]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [48]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [49]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.0

In [54]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [55]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.0

In [45]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [51]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [52]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [53]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0            T2        -1.899554e-16     -0.000732      0.000000
1          RH_6        -1.768642e-16      0.000129     -0.000000
2           rv1        -9.923653e-17      0.000003     -0.000000
3           rv2        -9.923653e-17      0.000003     -0.000000
4          RH_5        -9.412680e-17      0.000059      0.000000
5          RH_2        -8.782314e-17     -0.001493     -0.000000
6          RH_3        -8.623889e-17      0.000346      0.000000
7            T3        -6.131220e-17      0.001046      0.000000
8          RH_8        -1.471214e-17     -0.000570     -0.000000
9    Visibility        -1.314510e-17      0.000044      0.000000
10        T_out        -1.099988e-17     -0.000952      0.000000
11           T7        -9.362757e-18      0.000037      0.000000
12           T8        -9.164498e-18      0.000367      0.000000
13  Press_mm_hg         1.010062e-18      0.000024     -0.000000
14         RH_7         1.927959e-17     -0.000167     -0.000000
15           T4         1.964605e-17      0.000099      0.000000
16           T6         2.143008e-17      0.000789      0.000000
17         RH_4         3.812661e-17      0.000089      0.000000
18         RH_1         4.862920e-17      0.001887      0.000000
19           T5         5.156963e-17     -0.000072      0.000000
20           T1         8.644437e-17     -0.000067      0.000000
21           T9         9.027027e-17     -0.000686      0.000000
22         RH_9         1.014182e-16     -0.000150     -0.000000
23       RH_out         1.491505e-16     -0.000199     -0.000000
24    Tdewpoint         1.732374e-16      0.000302      0.000000
25    Windspeed         1.846051e-16      0.000110      0.000000
26   Appliances         1.000000e+00      0.996368      0.891991